{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Awwwards | Log in</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log in</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Dont have an Account<a href="{% url 'register' %}" class="ml-2">Sign up</a></small>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
</div>
{% endblock %}
